<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= link_to 'Followings', followings_user_path(@user) %>
      <%= link_to 'Followers', followers_user_path(@user) %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>フォロー一覧</h3>
    <ol class="follow" style="list-style: none;">
      <% @users.each do |user| %>
        <li class="user_image clearfix">
          <%= link_to gravatar_for(user, size: 50), user %>
          <span class="user"><%= link_to user.name, user %></span>
        </li>
      <% end %>
    </ol>
  </div>
</div>